<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Cookies</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/cookies.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	240 ml (110 g) harina de almendra</li>
          <li>•	½ cdta. polvo para hornear</li>
          <li>•	¼ cdta. sal</li>
          <li>•	80 ml (70 g) eritritol</li>
          <li>•	70 g mantequilla sin sal ablandada</li>
          <li>•	1 huevo grande</li>
          <li>•	1 cda. extracto de vainilla</li>
          <li>•	28 g pepitas de chocolate de repostería sin azúcar</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. En un bol pequeño, mezclar la harina de almendras, el polvo de hornear y la sal. Reservar.</li>
          <li>2. En un bol grande aparte, combinar el edulcorante granulado y la mantequilla con una batidora de varillas a baja velocidad. Añadir el huevo y la vainilla y mezclar hasta que estén bien combinados. Agregar los ingredientes secos y mezclar a velocidad media. Incorporar las pepitas de chocolate hasta que queden bien repartidas en la mezcla.</li>
          <li>3. Extender una hoja de film plástico de unos 30 x 23 cm (12 x 9") sobre una encimera o mesa. Colocar la masa en el medio. Formar un rulo de unos 5 cm de diámetro y 25 cm de largo. Dejar la masa envuelta en el papel de plástico y refrigerar durante al menos 3 horas o toda la noche.</li>
          <li>4. Precalentar el horno a 180 °C (350 °F). Forrar una bandeja para hornear con papel de horno.</li>
          <li>5. Cortar la masa en 12 rodajas iguales y colocarlas sobre la bandeja de hornear. Presionar suavemente cada rodaja para aplanarla ligeramente. Asegurarse de que estén separadas por lo menos 1 cm (½"). Hornear durante 8-10 minutos en la rejilla central del horno, hasta que los bordes estén dorados y la galleta se haya derretido y extendido ligeramente.</li>
          <li>6. Dejar enfriar en la bandeja del horno durante al menos 15 minutos, o hasta que estén completamente frías al tacto. A medida que las galletas se enfríen, se pondrán firmes y estarán listas para ser disfrutadas.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
