<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Huevos al horno bajos en carbohidratos</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/Huevosalhorno.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 85 g carne molida (carne picada) o carne de cordero molida o carne de cerdo molida, puedes usar sobras o cocinar la carne de la forma que tú quieras.</li>
          <li> 2 huevos</li>
          <li> 60 g (130 ml) queso rallado</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> Precalentar el horno a 200°C (400°F).</li>
          <li> Colocar la mezcla de la carne molida en una asadera pequeña. Luego hacer dos agujeros con una cuchara y romper los huevos en ellos.</li>
          <li> Espolvorear el queso rallado en la parte superior.</li>
          <li> Hornear hasta que los huevos estén listos, aproximadamente 15 minutos.</li>
          <li> Dejar enfriar un rato. ¡Los huevos y la carne molida se ponen muy calientes!</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>