<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Pannacotta de vainilla</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/Panacotta.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li> 2 cda. gelatina en polvo sin sabor</li>
          <li> Agua</li>
          <li> 475 ml crema (o nata) para montar</li>
          <li> 1 cda. extracto de vainilla</li>
          <li> 1 cdta. eritritol (opcional)</li>
          <li> 2 cda. granadas</li>
          <li> menta fresca (opcional)</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> Remojar la gelatina (láminas) durante 5-10 minutos en agua fría. Si usas gelatina en polvo, mezclarla con agua fría. Normalmente 1 cucharada por cada cucharita de polvo de gelatina, pero comprueba las instrucciones específicas de la marca. Reservar</li>
          <li> Añadir la crema, el extracto de vainilla y el eritritol a una olla y hervir a fuego medio. Bajar el fuego y dejar hervir a fuego lento durante un par de minutos hasta que la crema haya empezado a espesarse.</li>
          <li> Retirar la crema del fuego y añadir la gelatina. Si usas láminas, asegúrate de exprimir todo el agua que puedas antes de añadir la crema. Remover hasta que la gelatina se haya disuelto por completo.</li>
          <li> Echar la crema en copas para servir. Dejar que se enfríe completamente antes de cubrirlas con una envoltura de plástico y colocarlas en el refrigerador dos o tres horas o durante la noche.</li>
          <li> Sacar la pannacotta del refrigerador media hora antes de servir. Decorarla con semillas de granada y menta fresca.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
