<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Ensalada de atún a la parrilla con aderezo de ajo</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/Ensaladaatun.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>2 huevos</li>
          <li>	230 g espárragos verdes</li>
          <li>	1 cda. aceite de oliva</li>
          <li>	325 g atún fresco, cortado en lonchas</li>
          <li>	110 g (475 ml) verduras de hoja verde</li>
          <li>	55 g tomatitos cherry</li>
          <li>	½ (55 g) cebolla morada</li>
          <li>	2 cda. semillas de calabaza</li>
          <li>	Sal y pimienta negra molida</li>
          <li>	160 ml mayonesa</li>
          <li>	2 cda. agua</li>
          <li>	2 cdta. ajo en polvo</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>  Combinar los ingredientes para el aderezo de ajo. Reservar.</li>
          <li> 	Colocar los huevos en agua hirviendo durante 7-10 minutos. Enfriar en agua helada para pelarlos más fácilmente.</li>
          <li> 	Cortar los espárragos en trozos y freír rápidamente en una sartén caliente sin aceite ni mantequilla. Reservar.</li>
          <li> 	Aplicar aceite al atún, freírlo o parrillarlo unos minutos por cada lado. Salpimentar de forma generosa.</li>
          <li> 	Añadir las verduras de hoja verde, los espárragos, los huevos pelados cortados en mitades, los tomates y la cebolla finamente cortada en rodajas a un plato.</li>
          <li> 	Cortar el atún y distribuir de forma uniforme en la ensalada. Echar el aderezo y espolvorear semillas de calabaza.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
