<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Hummus de aguacate</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/hummus.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 3 (600 g) aguacates maduros</li>
          <li> 120 ml cilantro fresco</li>
          <li> 120 ml aceite de oliva</li>
          <li> 60 ml (35 g) semillas de girasol</li>
          <li> 60 ml tahini (pasta de sésamo)</li>
          <li> 1 cda. jugo de limón</li>
          <li> 1 diente de ajo machacado</li>
          <li> ½ cdta. comino molido</li>
          <li> ½ cdta. sal</li>
          <li> ¼ cdta. pimienta negra molida</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Cortar el aguacate a lo largo, quitar el hueso y sacar la carne con una cuchara.</li>
          <li> Poner todos los ingredientes en una licuadora o en un procesador de alimentos y mezclar bien hasta que quede una mezcla homogénea.</li>
          <li> Añadir más aceite, jugo de limón o agua si quieres que tenga una consistencia más suelta. Ajustar las especias según necesites.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
