<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Hummus</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/hummus.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	220 g col rizada</li>
          <li>•	1 cda. aceite de oliva</li>
          <li>•	½ cdta. jugo de limón o vinagre de vino blanco</li>
          <li>•	sal</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. Precalentar el horno a 150 °C (300 °F).</li>
          <li>2. Lavar la col rizada. Quitar los tallos y rompar las hojas grandes en trozos más pequeños.</li>
          <li>3. Mezclar la col rizada con aceite de oliva y zumo de limón o vinagre de vino blanco y añadir la sal.</li>
          <li>4. Colocar la col rizada en una bandeja para horno forrada con papel de horno y hornear durante 10-15 minutos, hasta que esté crocante pero no quemada. Revolver las "papitas" varias veces para que se horneen de forma uniforme.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
