
<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Sandwich keto de desayuno sin pan </ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/Sanwichhuevo.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>	2 cda. mantequilla</li>
          <li>	4 huevos grandes</li>
          <li>	Sal y pimienta</li>
          <li>	28 g jamón</li>
          <li>	55 g (120 ml) queso cheddar o queso provolone o queso edam en lonchas finas</li>
          <li>	Unas gotas de salsa de tabasco o salsa Worcester (opcional)</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> Añadir mantequilla a una sartén grande y ponerla a fuego medio. Añadir los huevos y freírlos ligeramente por ambos lados. Salpimentar al gusto.</li>
          <li> Usar un huevo frito como base para cada "sándwich". Colocar el jamón/pastrami/fiambres apilados y luego añadir el queso. Cubrir cada montón con un huevo frito. Dejar en la sartén con el fuego suave si quieres que se derrita el queso.</li>
          <li> Rociar con algunas gotas de Tabasco o salsa Worcestershire si lo deseas y servir de inmediato.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
