
<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Sencillo plato keto de panceta y huevos</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/pancetahuevo.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	140 g panceta ahumada (bacon)</li>
          <li>•	4 huevos</li>
          <li>•	2 (400 g) aguacates</li>
          <li>•	60 ml nueces</li>
          <li>•	1 (140 g) pimiento verde</li>
          <li>•	Sal y pimienta negra molida</li>
          <li>•	1 cda. cebollino fresco, finamente picado (opcional)</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. Freír la panceta en mantequilla a fuego medio hasta que quede crocante.</li>
          <li>2. Retirar de la sartén y mantenerla caliente. Dejar la grasa acumulada en la sartén. Bajar el fuego a medio-bajo y freír los huevos en la misma sartén.</li>
          <li>3. Colocar la panceta, los huevos, el aguacate, las nueces, el pimiento y la rúcula en un plato.</li>
          <li>4. Echar la grasa de la panceta restante sobre los huevos. Sazonar al gusto.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
