<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Pescado keto frito con brocoli y queso</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/Pescado.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li> •	450 g brócoli</li>
          <li> •	85 g mantequilla</li>
          <li> •	Sal y pimienta</li>
          <li> •	140 g (290 ml) queso cheddar, rallado</li>
          <li> •	650 g salmón o trucha</li>
          <li> •	1 lima (opcional)</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 1.	Precalentar el horno a 200 °C (400 °F), preferiblemente usando la opción de parrilla.</li>
          <li> 2.	Cortar el brócoli en pequeños cogollos y dejarlos hervir a fuego lento en agua ligeramente salada durante un par de minutos. Asegurarse de que el brócoli mantiene su textura masticable y su color delicado.</li>
          <li> 3.	Escurrir el brócoli y desechar el agua hirviendo. Reservar sin cubrir durante un minuto o dos para permitir que el vapor se evapore.</li>
          <li> 4.	Colocar el brócoli escurrido en un plato para hornear bien engrasado. Añadir mantequilla y pimienta al gusto.</li>
          <li> 5.	Espolvorear el queso encima del brócoli y hornear 15-20 minutos o hasta que el queso adquiera un color dorado.</li>
          <li> 6.	Mientras tanto, salpimentar el salmón y freír en abundante mantequilla, unos minutos por cada lado. La lima se puede freír en la misma sartén o servirse cruda. Este paso también se puede hacer en una parrilla al aire libre.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
