<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Lasaña</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/lasaña.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>2 huevos</li>
          <li>2 cda. crema (o nata) para montar</li>
          <li>sal y pimienta negra molida</li>
          <li> ½ cda. mantequilla o aceite de coco</li>
          <li> 85 g (180 ml) queso rallado</li>
          <li> 2 champiñones en rodajas</li>
          <li> 2 (35 g) tomatitos cherry en rodajas</li>
          <li>120 ml (15 g) brotes de espinacas</li>
          <li> 2 cda. queso crema (opcional)</li>
          <li> 28 g fiambre de pavo o fiambre de pollo asado</li>
          <li>1 cdta. orégano seco</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> En un tazón, batir los huevos, la crema, la sal y la pimienta.</li>
          <li> Calentar la mantequilla en una sartén antiadherente a fuego medio. Extender el queso de forma uniforme en la sartén para que cubra todo el fondo. Freír a fuego medio hasta que burbujee.</li>
          <li>Incorporar cuidadosamente la mezcla de huevo sobre el queso y bajar el fuego. Cocinar unos minutos sin revolver.</li>
          <li>Rellenar una mitad con los champiñones, los tomates, las espinacas, el queso crema, el fiambre y el orégano. Freír unos minutos más.</li>
          <li>Cuando la mezcla de huevos comienza a cuajar (aún puede estar un poco líquida por arriba, pero no demasiado), voltear la mitad vacía sobre la mitad con los ingredientes, formando una media luna. Freír unos minutos más y, ¡a disfrutar!</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
