<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Champiñones rellenos cetogénicos</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/Champiñones.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>	230 g panceta ahumada (bacon)</li>
          <li>	12 champiñones</li>
          <li>	2 cda. mantequilla</li>
          <li>	260 g queso crema</li>
          <li>	3 cda. cebollino fresco, finamente picados</li>
          <li>	1 cdta. pimentón español</li>
          <li>	sal y pimienta</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 	Precalentar el horno a 200 °C (400 °F). Enmantecar una asadera de tamaño mediano.</li>
          <li> 	Empezar por freír la panceta (tocineta) hasta que esté bien crocante. Dejar que se enfríe y desmenuzarlo en pedacitos. Guardar la grasa de la panceta.</li>
          <li> 	Quitarles el tallo a los champiñones y picar los tallos finamente. Saltearlos en la grasa de la panceta, añadiendo mantequilla en caso de ser necesario.</li>
          <li> 	Poner los champiñones en la asadera enmantecada.</li>
          <li> 	En un bol, mezclar la panceta desmenuzada con los tallos fritos de champiñón y el resto de los ingredientes. Rellenar cada champiñón con un poco de la mezcla.</li>
          <li> 	Hornear por unos 25-30 minutos o hasta que los champiñones se doren.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
