<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>“Arroz” con pollo </ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/arroz.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 800 g pollo deshuesado, cortado en trozos pequeños</li>
          <li> ½ lima, jugo</li>
          <li> 1 cdta. pimentón español o anato en polvo</li>
          <li> 2 cdta. sal</li>
          <li> 1 cdta. pimienta negra molida</li>
          <li> 60 ml (55 g) aceite de coco o aceite de aguacate</li>
          <li> 3 dientes de ajo machacados</li>
          <li> ½ (70 g) pimiento rojo picado</li>
          <li> 2 ramas de apio picadas</li>
          <li> 120 ml (70 g) aceitunas deshuesadas</li>
          <li> 60 ml cilantro fresco picado (ver notas)</li>
          <li> 600 g espaguettis de calabacín</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Deshumedecer el pollo con un poco de papel absorbente. Sazonarlo con jugo de limón, especias, sal y pimienta.</li>
          <li> En una sartén, calentar el aceite a fuego alto. Agregar el pollo y cocinar dándole la vuelta frecuentemente para que se dore por todos lados. Reducir el fuego.</li>
          <li> Agregar el ajo, el pimiento, el apio y las aceitunas. Tapar y cocinar a fuego lento, revolviendo ocasionalmente hasta que el pollo esté muy tierno (unos 17 minutos).</li>
          <li> Mientras tanto, cortar los fideos de calabacín en trozos aproximadamente del tamaño de un grano de arroz de grano largo.</li>
          <li> Una vez que el pollo esté tierno, subir el fuego. Agregar el cilantro y el calabacín, calentar revolviendo durante aproximadamente un minuto.</li>
          <li> Retirar del fuego y servir.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>