<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Huevos revueltos con albahaca y mantequilla</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/Huevosconalb.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 2 cda. mantequilla</li>
          <li> 2 huevos</li>
          <li> 2 cda. crema (o nata) para montar</li>
          <li> Sal y pimienta negra molida</li>
          <li> 80 ml (38 g) queso cheddar rallado</li>
          <li> 2 cda. albahaca fresca</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Derretir la mantequilla en una sartén a fuego lento.</li>
          <li> Añadir los huevos, la crema, el queso y los condimentos a un tazón pequeño. Batir ligeramente y añadir a la sartén.</li>
          <li> Revolver con una espátula desde los bordes al centro hasta que los huevos se hayan revuelto. Si los prefieres suaves y cremosos, remover a baja temperatura hasta que alcancen la consistencia que deseas.</li>
          <li> Acabar espolvoreando la albahaca por encima.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
