<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Helado</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/Helado.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	2 yemas de huevo</li>
          <li>•	300 ml crema (o nata) para montar</li>
          <li>•	½ cdta. extracto de vainilla</li>
          <li>•	2 cda. eritritol (opcional)</li>
          <li>•	2 claras de huevo</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. Separar los huevos. Batir las yemas hasta que estén suaves y esponjosas. Reservar las claras.</li>
          <li>2. En una cacerola, mezclar la crema con la vainilla y el edulcorante. Llevar a ebullición y cocinar a fuego lento durante unos minutos, hasta que la crema se espese ligeramente.</li>
          <li>3. Bajar el fuego y echar las yemas batidas en la crema caliente. Mezclar bien y dejar cocer a fuego lento sin dejar de remover, hasta que la mezcla se espese.</li>
          <li>4. Refrigerar la mezcla hasta que se enfríe.</li>
          <li>5. Batir las claras de huevo hasta que estén firmes y esponjosas; incorporarlas a la mezcla de crema.</li>
          <li>6. Echar la masa en una máquina de hacer helados o en un frasco con tapa y colocarlo en el congelador. Revolver cada tanto y continuar congelando hasta que alcance la consistencia deseada.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
