
<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Huevos cocidos con mayonesa y esparragos</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/Huevosconalb.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>	6 huevos grandes</li>
          <li>	2 cda. mayonesa o mayonesa vegana</li>
          <li>	170 g espárragos verdes</li>
          <li>	sal, a gusto</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> Poner agua a hervir en una olla a fuego fuerte.</li>
          <li> Colocar cuidadosamente los huevos en el agua hirviendo.</li>
          <li> Hervir los huevos durante unos 5-6 minutos para que queden pasados por agua, 6-8 minutos para punto medio, u 8-10 minutos para huevos duros.</li>
          <li> Quitar los huevos del agua con una cuchara, y dejarlos enfriar en agua fría. Mantener la olla con agua hirviendo, para hacer allí los espárragos.</li>
          <li> Agregar los espárragos al agua y hervir unos 5 minutos, hasta que se ablanden un poco.</li>
          <li> Pelar los huevos, cortarlos por la mitad. Servir con los espárragos y la mayonesa. Salar a gusto.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
