
<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Tostadas</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/Tostadas.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	1 cdta. mantequilla</li>
          <li>•	2 cda. harina de almendra</li>
          <li>•	2 cda. harina de coco</li>
          <li>•	1½ cdta. polvo para hornear</li>
          <li>•	1 pizca sal</li>
          <li>•	2 huevos grandes</li>
          <li>•	2 cda. crema (o nata) para montar</li>
          <li>•	2 huevos grandes</li>
          <li>•	2 cda. crema (o nata) para montar</li>
          <li>•	½ cdta. canela molida</li>
          <li>•	1 pizca sal</li>
          <li>•	2 cda. mantequilla</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. Engrasar con mantequilla una taza grande o una fuente de cristal con fondo plano.</li>
          <li>2. Añadir todos los ingredientes secos del pan y combinarlos con la ayuda de un tenedor o de una cuchara. Incorporar los huevos y la crema. Mezclar hasta conseguir una consistencia homogénea y sin grumos.</li>
          <li>3. Cocinar en el microondas a potencia alta (unos 700 vatios) durante 2 minutos. Comprobar si el pan está hecho en el centro. Si no, cocinarlo 15-30 segundos más.</li>
          <li>4. Dejar enfriar y retirar el pan de la taza. Cortarlo por la mitad.</li>
          <li>5. En un tazón o en un plato hondo, mezclar los huevos, la crema y la canela con una pizca de sal.</li>
          <li>6. Verter la mezcla cremosa sobre las rebanadas de pan y dejar que se empapen bien. Darles la vuelta varias veces para que las rebanadas de pan absorban la mayor cantidad posible de la mezcla de huevo.</li>
          <li>7. Freír en mantequilla y servir al momento.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
