<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Snack</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div class="Dimg">
      <ion-row >
        <ion-col >
          <ion-card-content routerLink="../alfajores">
                <img src="assets/Snacks/alfajores.jpg">
                <p>
                  Alfajores
                </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="../chipcalabaza">
              <img src="assets/Snacks/Chipcalabaza.jpg">
              <p>
                Chips de calabacín
              </p>
            </ion-card-content>
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="../chips">
              <img src="assets/Snacks/chips.jpg">
              <p>
                Chips de salami y queso
              </p>
            </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="../cookies">
              <img src="assets/Snacks/cookies.jpg">
              <p>
                Cookies con pepitas de chocolate
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="../helado">
              <img src="assets/Snacks/Helado.jpg">
              <p>
                Helado de vainilla sin azúcar
              </p>
            </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="../hummus">
              <img src="assets/Snacks/hummus.jpg">
              <p>
                Hummus de aguacate
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="../mugcakes">
              <img src="assets/Snacks/mugcake.jpg">
              <p>
                Muffin de chocolate en taza
              </p>
            </ion-card-content> 
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="../pannacotta">
              <img src="assets/Snacks/Panacotta.jpg">
              <p>
                Pannacotta de vainilla
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col> 
            <ion-card-content routerLink="../papitas">
              <img src="assets/Snacks/papitas.jpg">
              <p>
                “Papitas” de col rizada
              </p>
            </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="../pasteltresleches">
              <img src="assets/Snacks/pasteltresleches.jpg">
              <p>
                Pastel de tres leches
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
