
<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title></ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/pancakes.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	4 huevos</li>
          <li>•	200 g (230 ml) requesón</li>
          <li>•	1 cda. cáscaras de psilio en polvo</li>
          <li>•	55 g mantequilla sin sal o aceite de coco</li>
          <li>•	55 g frambuesas frescas o arándanos frescos o fresas frescas</li>
          <li>•	240 ml crema (o nata) para montar</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 1. Añadir los huevos, el requesón y el polvo de cáscara molida de psilio a un tazón mediano y mezclar. Reservar de 5 a 10 minutos para que se espese un poco.</li>
          <li> 2. Calentar la mantequilla o el aceite en una sartén antiadherente. Freír los panqueques a fuego medio o bajo durante 3-4 minutos por cada lado. No los hagas demasiado grandes o serán difíciles de voltear.</li>
          <li> 3. Añadir crema para batir a un recipiente aparte y batir hasta que se ponga espumosa.</li>
          <li> 4. Servir los panqueques con crema batida y las bayas que prefieras.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
