

<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Omelette keto asada de panceta</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/Omeletasado.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	4 huevos</li>
          <li>•	140 g panceta ahumada (bacon) cortada en cubitos</li>
          <li>•	85 g mantequilla</li>
          <li>•	55 g espinacas frescas</li>
          <li>•	1 cda. cebollino fresco finamente picado (opcional)</li>
          <li>•	Sal y pimienta</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. Precalentar el horno a 200 °C (400 °F). Engrasar una asadera de tamaño individual con mantequilla.</li>
          <li>2. Freír la panceta y las espinacas en la mantequilla restante.</li>
          <li>3. Batir los huevos hasta que queden espumosos. Mezclar las espinacas y la panceta, incluida la grasa sobrante de freír.</li>
          <li>4. Añadir el cebollino bien picado. Salpimentar al gusto.</li>
          <li>5. Verter la mezcla de huevo a una o varias asaderas y hornear durante 20 minutos o hasta que se dore.</li>
          <li>6. Dejar enfriar durante unos minutos y servir.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
