.Diseño01{

    ion-item{

        border-radius: 5px;
        border-color: grey;
        border-width: 2px;
        border-style: solid;
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
    }

    ion-col{

        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;

    }

}

.botton{

    margin-left: 40%;
    margin-right: 40%;
    
}
