<ion-header>
  <ion-toolbar>
    <ion-title>Desayunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Dimg">
    <ion-row >
      <ion-col>
        <ion-card-content>
              <img src="assets/./Desayunos/hot-cakes-de-cocoa-keto-foto-principal.webp">
              <p>
                Hot-cakes de chocolate.
              </p>
        </ion-card-content>
      </ion-col>
      <ion-col>

          <ion-card-content>
            <img src="assets/./Desayunos/waffles-con-mantequilla-de-almendra-keto-foto-principal.webp">
            <p>
              Waffles de almendras con mantequilla.

            </p>
          </ion-card-content>

      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>

          <ion-card-content>
            <img src="assets/./Desayunos/chilaquiles-keto-foto-principal.webp">
            <p>
              Chilaquiles Keto.
            </p>
          </ion-card-content>

      </ion-col>

      <ion-col>
        
          <ion-card-content>
            <img src="assets/./Desayunos/Omeletconqueso_JillWallentin_V_sRGB.jpg">
            <p>
              Omelet de queso crujiente.
            </p>
          </ion-card-content>
       
      </ion-col>          
    </ion-row>
  </div>
</ion-content>
