<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Desayunos</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div class="Dimg">
      <ion-row >
        <ion-col >
          <ion-card-content routerLink="../frittata">
                <img src="assets/Desayunos/fritata.jpg">
                <p>
                  Frittata con espinaca y panceta
                </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
  
            <ion-card-content routerLink="../huevos-c">
              <img src="assets/Desayunos/Huevosconalb.jpg">
              <p>
                Huevos revueltos con albahaca
  
              </p>
            </ion-card-content>
  
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="../huevos-r">
              <img src="assets/Desayunos/HuevosEsp.jpg">
              <p>
                Huevos cocidos con mayonesa y espárragos
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="../omeletkq">
              <img src="assets/Desayunos/Omeeltconqueso.jpg">
              <p>
                Omelette de queso
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="../omelette-p">
              <img src="assets/Desayunos/Omeletasado.jpg">
              <p>
                Omelette asada de panceta
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="../panqueques">
              <img src="assets/Desayunos/pancakes.jpg">
              <p>
                Panqueques
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="../panceta">
              <img src="assets/Desayunos/pancetahuevo.jpg">
              <p>
                Panceta y huevos
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="../sandwich">
              <img src="assets/Desayunos/Sanwichhuevo.jpg">
              <p>
                Sándwich sin pan
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="../tostadas">
              <img src="assets/Desayunos/Tostadas.jpg">
              <p>
                Tostadas francesas
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="../sandwichl">
              <img src="assets/Desayunos/Wrapslechuga.jpg">
              <p>
                Sándwiches de lechuga
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
