<ion-header>
  <ion-toolbar>
    <ion-title>Desayunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Dimg">
    <ion-row >
      <ion-col>
        <ion-item>
            <ion-card-content>
              <img src="assets/./Desayunos/hot-cakes-de-cocoa-keto-foto-principal.webp">
              Hot-cakes de chocolate.
            </ion-card-content>
          </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-card-content>
            <img src="assets/./Desayunos/waffles-con-mantequilla-de-almendra-keto-foto-principal.webp">
            Waffles de almendras con mantequilla.
          </ion-card-content>
        </ion-item>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-card-content>
            <img src="assets/./Desayunos/chilaquiles-keto-foto-principal.webp">
            Chilaquiles Keto.
          </ion-card-content>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-card-content>
            <img src="assets/./Desayunos/Omeletconqueso_JillWallentin_V_sRGB.jpg">
            Omelet de queso crujiente.
          </ion-card-content>
        </ion-item>
      </ion-col>          
    </ion-row>
  </div>
</ion-content>
