<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Hamburguesa alta en proteina</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/hamburguesa.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	55 g panceta ahumada (bacon) crudo, cortada por la mitad</li>
          <li>•	450 g carne de pavo molida o carne molida (carne picada)</li>
          <li>•	sal y pimienta negra molida</li>
          <li>•	2 huevos grandes</li>
          <li>•	4 hojas de lechuga mantecosa</li>
          <li>•	2 cda. mayonesa</li>
          <li>•	½ (55 g) tomate, en rodajas</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 1.	Freír el bacon en una sartén grande antiadherente a fuego medio-alto hasta que esté crujiente. Pasar el bacon a una fuente forrada con papel de cocina para que absorba el exceso de grasa. Mantenerlo caliente.</li>
          <li> 2.	Armas dos bolas de carne por porción. Reservar.</li>
          <li> 3.	Colocar las bolas en la sartén a fuego medio. Con una espátula o un plato pequeño, presionar las albóndigas para darles forma de hamburguesa. Salpimentar generosamente. Freírlas por ambos lados hasta que se doren. Retirarlas de la sartén y mantenerlas calientes.</li>
          <li> 4.	A fuego medio, freír los huevos hasta que estén hechos al punto deseado. Salpimentar.</li>
          <li> 5.	Para servir, colocar la lechuga en un plato y poner en capas la hamburguesa, la mayonesa, el tomate, los huevos y, por último, el bacon. Preparar una hamburguesa grande o dos pequeñas (son más fáciles de comer con las manos).</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
