<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Comidas</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div class="Dimg">
      <ion-row >
        <ion-col >
          <ion-card-content>
                <img src="assets/comidas/Albondigas.jpg">
                <p>
                  Albondigas de pollo
                </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
  
            <ion-card-content>
              <img src="assets/comidas/enchiladas.jpg">
              <p>
                Enchiladas suizas tipo keto
  
              </p>
            </ion-card-content>
  
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content>
              <img src="assets/comidas/pollo.jpg">
              <p>
                Pollo con verduras de 3 colores
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content>
              <img src="assets/comidas/pollofrito.jpg">
              <p>
                Pollo frito tipo keto
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content>
              <img src="assets/comidas/hamburguesa.jpg">
              <p>
                Hamburguesa keto
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content>
              <img src="assets/comidas/Escolapines.jpg">
              <p>
                Escolapines de cerdo
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content>
              <img src="assets/comidas/sopa.jpg">
              <p>
                Sopa de mariscos
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content>
              <img src="assets/comidas/gambas.jpg">
              <p>
                Gambas al ajillo
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content>
              <img src="assets/comidas/lasaña.jpg">
              <p>
                Lasaña de calabacin
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content>
              <img src="assets/comidas/guiso.jpg">
              <p>
                Guiso keto de carne molida
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
