<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Sopa low-carb de carne y queso</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/sopacarne.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 3 cda. mantequilla</li>
          <li> ½ (55 g) cebolla morada, en rodajas finas</li>
          <li> 1 (140 g) pimiento verde, en rodajas finas</li>
          <li> 110 g champiñones, en rodajas finas</li>
          <li> 450 g fiambres de carne de res, en lonchas finas y troceadas</li>
          <li> 950 ml caldo de carne de res</li>
          <li> 110 g queso crema, suavizado</li>
          <li> 350 ml (170 g) queso cheddar rallado blanco, u otro queso</li>
          <li> 85 g queso provolone en lonchas (opcional)</li>
          <li> Sal y pimienta</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> En una cacerola grande a fuego medio, derretir la mantequilla. Una vez esté caliente, añadir las cebollas y saltear hasta que estén tiernas pero no se hayan dorado, toma unos 5 minutos. Añadir los pimientos y los champiñones y espolvorear sal y pimienta. Cocinar 3 o 4 minutos más, hasta que todo esté tierno.</li>
          <li> Añadir los trozos de fiambre de res y revolver para que todo se mezcle bien. Agregar el caldo y llevar a ebullición. Cocinar durante 10 minutos.</li>
          <li> Colocar el queso crema en una licuadora y añadir alrededor de ¼ del caldo caliente de la cacerola. Licuar hasta conseguir una mezcla homogénea y que el queso crema se haya derretido. Verter la mezcla de vuelta a la cacerola y añadir el queso rallado hasta que se derrita.</li>
          <li> Precalentar la parrilla. Servir la sopa en tazones aptos para horno o ramequines y colocar un trozo de queso provolone por encima. Colocar sobre la bandeja de horno e introducir bajo el grill hasta que el queso se haya derretido y esté burbujeante, toma de 2 a 4 minutos.</li>
          <li> Servir de inmediato.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
