<ion-header>
  <ion-toolbar>
    <ion-button size="large" fill="clear" slot="start" routerLink="/tabs">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ionic-pading ionic-center-text">

  <div class="logo ion-text-center">
    <img src='assets/icon/Splash.png'>
  </div>

  <div class='form'>
    <ion-item lines='none'>
      <ion-input placeholder="Correo"></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-input  placeholder="Contraseña" type='password'></ion-input>
    </ion-item>
  

  </div>
 

  <ion-row class="Botones" >
    <ion-col>
      <ion-button size="small"  color='danger' routerLink="/crear-cuenta">Crear cuenta</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" color='danger' routerLink="/tabs">Iniciar Sesion</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
