.logo{

    margin-top: 30%;

    img{

        height: 200px;

    }



}



.form{



    ion-item{



        border-radius: 5px;

        border-color: grey;

        border-width: 2px;

        border-style: solid;

        margin-left: 5%;

        margin-right: 5%;

        margin-bottom: 10px;

    }

}




.Botones{

    margin-left:  4%;

   

}

.text-danger{
    color: #cf3c4f;
}

.google{
    --background: #DB4437;
}