ion-content{
    --background: #c2ddb9;
}


ion-toolbar{
    background-color: #61BD4F;
}

ion-content{
    --background: #c2ddb9;
    font-family: Esteban;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000000; 
}

ion-input{
    --color: #000000; 
}

ion-item{
    --background: #c2ddb9;
    font-family: Esteban;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000; 
}
