<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
      </ion-buttons><ion-title>Revuelto de repollo</ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/Revueltorepollo.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 750 g repollo blanco</li>
          <li> 750 g repollo blanco</li>
          <li> 600 g carne de cerdo molida o carne de cordero molida</li>
          <li> 1 cdta. sal</li>
          <li> 1 cdta. cebolla en polvo</li>
          <li> ¼ cdta. pimienta negra molida</li>
          <li> 1 cda. vinagre de vino blanco</li>
          <li> 1 cda. pasta de curry rojo</li>
          <li> ½ (55 g) cebolla amarilla, finamente cortada</li>
          <li> 120 ml cilantro fresco</li>
          <li> 240 ml mayonesa</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Cortar el repollo con un cuchillo o un procesador de alimentos tan finamente como sea posible.</li>
          <li> Freír el repollo en la mitad de la mantequilla en una sartén grande o wok a fuego medio hasta que se ablande, unos 5-6 minutos.</li>
          <li> Añadir las especias, el vinagres y la pasta de curry. Rehogarlo hasta que esté fragrante. Colocar el repollo en un tazón y reservar.</li>
          <li> Derretir el resto de la mantequilla en la misma sartén. Añadir el ajo, la cebolla y la pasta de curry. Saltear durante un minuto. Añadir carne molida y saltear hasta que la carne esté bien hecha y la mayoría del líquido se haya evaporado.</li>
          <li> Reducir el fuego y volver a poner el repollo en la sartén. Remover hasta que esté bien caliente.</li>
          <li> Salpimentar al gusto. Decorar con cilantro fresco antes de servir con una cucharada de mayonesa o crema agria.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



