<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Muffin de chocolate en taza</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/mugcake.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 4 cda. harina de almendra o avellana molida</li>
          <li> 2 cda. cacao en polvo</li>
          <li> 4 cda. eritritol granulado (opcional)</li>
          <li> 1 cdta. polvo para hornear</li>
          <li> ½ cdta. extracto de vainilla</li>
          <li> 2 pizcas sal</li>
          <li> 2 huevos batidos</li>
          <li> 3 cda. aceite de coco o mantequilla, derretida</li>
          <li> 1 cdta. aceite de coco o mantequilla para engrasar las tazas</li>
          <li> 14 g chocolate negro sin azúcar bien picado (busca estevia, eritritol o fruta del monje en los ingredientes)</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <p>Microondas (7 minutos)</p>
        <ol>
          <li> Mezclar los ingredientes secos en un tazón pequeño. Añadir el huevo y el aceite de coco derretido o la mantequilla. Mezclar hasta que quede suave.</li>
          <li> Añadir el chocolate picado y echar en dos tazas de café o en dos ramequines bien engrasados.</li>
          <li> Poner en el microondas a máxima potencia durante 1-11⁄2 minutos (700 vatios). Retirar y dejar enfriar un minuto.</li>
          <li> Servir con una cucharada de crema de coco batida o crema agria si toleras los lácteos.</li>
        </ol>
        <p>Horno (20 minutos)</p>
        <ol>
          <li>Si no quieres usar el microondas, puedes hacerlos en el horno. De hecho, si tienes tiempo, recomendamos que lo hagas. La capacidad de los microondas es diferente y los resultados varían según el tamaño de la taza, etc.</li>
          <li> Precalentar el horno a 175 °C (350 °F).</li>
          <li> Mezclar los ingredientes secos en un tazón pequeño. Añadir los huevos, el aceite de coco derretido o la mantequilla. Mezclar hasta que la masa sea homogénea.</li>
          <li> Colocar los forros en un molde de muffins y rellenarlos hasta la mitad.</li>
          <li> Hornear durante unos 18 minutos o hasta que estén mullidos al tacto al presionar suavemente en el centro.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
