<ion-header>
  <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-title >Inicio</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="Diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg" >Una rica pizza al estilo Keto
      </ion-card-content>
    </ion-card>
    



  </div>
</ion-content>
