<ion-header>
  <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-title >Inicio</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Diseño">
    <ion-card>
      <ion-card-content routerLink="../pasteltresleches">
        <h1>
          Más visitada
        </h1>
        <img src="assets/Snacks/pasteltresleches.jpg">
        <p>
          Pastel de tres leches
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content routerLink="../huevos-c">
        <img src="assets/Desayunos/HuevosEsp.jpg">
        <p>
          Huevos cocidos con mayonesa y espárragos
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content routerLink="../hummus">
        <img src="assets/Snacks/hummus.jpg">
        <p>
          Hummus de aguacate
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/Publicidad/bachoco.jpeg" >
    </ion-card>
    <ion-card>
      <ion-card-content routerLink="../papitas">
        <img src="assets/Snacks/papitas.jpg">
        <p>
          “Papitas” de col rizada
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content routerLink="../cookies">
        <img src="assets/Snacks/cookies.jpg">
        <p>
          Cookies con pepitas de chocolate
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content routerLink="../sandwich">
        <img src="assets/Desayunos/Sanwichhuevo.jpg">
        <p>
          Sándwich sin pan
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/Publicidad/watermelonpubli.jpg" >
    </ion-card>
  </div>
</ion-content>
