<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Alfajores</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/alfajores.jpg">
        <h1>
          Ingredientes
        </h1>
        <p>Galletas</p>
        <ul>
          <li> 200 g mantequilla suavizada</li>
          <li> 80 ml (60 g) eritritol</li>
          <li> 1 cdta. extracto de vainilla</li>
          <li> 1 pizca sal</li>
          <li> 475 ml (230 g) harina de almendra molida fina</li>
        </ul>  
        <p>Caramelo</p>
        <ul>  
          <li> 2 cdta. mantequilla o ghee</li>
          <li> 80 ml crema (o nata) para montar o crema de coco</li>
          <li> 120 ml (90 g) eritritol</li>
          <li> 1 cda. mantequilla de frutos secos (opcional)</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <p>Galletas</p>
        <ol>
          <li> En un tazón grande, batir la mantequilla y el edulcorante hasta que se forme una masa homogénea.</li>
          <li> Añadir la vainilla y la sal y batir para que se mezclen.</li>
          <li> Añadir la harina de almendras y mezclar hasta que se combine bien. Después usar una espátula para suavizar la masa.</li>
          <li> Pasar la masa a un trozo de papel de horno y enrollar en forma de barra.</li>
          <li> Envolverla y dejar que se enfríe en el refrigerador durante una hora para que se endurezca. Mientras tanto, preparar el caramelo.</li>
        </ol>
        <p>Caramelo</p>
        <ol>
          <li> En un pequeño cazo o sartén, derretir la mantequilla o el ghee a fuego medio hasta que se dore.</li>
          <li> Añadir la crema y el edulcorante y dejar que cueza fuego lento.</li>
          <li> Reducir el fuego a medio-bajo y remover de vez en cuando hasta que el edulcorante se haya disuelto y el liquído esté espeso, pegajoso y cubra fácilmente una cuchara al meterla en la mezcla.</li>
          <li> Retirar del fuego, pasarlo a un tarro y dejar que se enfríe a temperatura ambiente.</li>
          <li> Removerlo cada unos cuantos minutos mientras se enfría para asegurarte de que no se separa.</li>
          <li> Si el caramelo no se pone lo suficientemente espeso para extenderlo sobre las galletas, puedes mezclarlo con mantequilla de frutos secos.</li>
        </ol>
        <p>Horneado</p>
        <ol>
          <li> Precalentar el horno a 160 °C (325 °F).</li>
          <li> Cubrir una bandeja de horno con papel de horno.</li>
          <li> Cortar trozos redondos de 0,6 cm de la masa y colocar cada rebanada con cuidado sobre la bandeja de horno, usar los dedos para darles a la galleta una forma circular con bordes suaves. Hacer 12, necesitas un número par para poner el relleno entre dos.</li>
          <li> Dejar 3-5 cm (1-2 pulgadas) entre ellas y hornearlas durante 15 minutos o hasta que los bordes tomen un tono dorado.</li>
          <li> Retirarlas del horno y déjalas enfríarse antes de pasarlas a la rejilla.</li>
          <li> Dar la vuelta a las galletas cuando estén a temperatura ambiente.</li>
          <li> Añadir una cucharada colmada de caramelo a una de cada dos galletas, después cubrirlas con una galleta sin caramelo y presionar con cuidado hasta que la pasta llegue a los bordes.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
