<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Comida</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div class="Dimg">
      <ion-row >
        <ion-col >
          <ion-card-content routerLink="./escalopines">
                <img src="assets/comidas/Escalopines.jpg">
                <p>
                  Escalopines de cerdo
                </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="./pollofrito">
              <img src="assets/comidas/pollofrito.jpg">
              <p>
                Pollo frito con mantequilla y brócoli
              </p>
            </ion-card-content>
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="./pescado">
              <img src="assets/comidas/Pescado.jpg">
              <p>
                Pescado frito con brócoli y queso
              </p>
            </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="./sopamar">
              <img src="assets/comidas/Sopamar.jpg">
              <p>
                Sopa de mariscos
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="./arroz">
              <img src="assets/comidas/arroz.jpg">
              <p>
                “Arroz” con pollo
              </p>
            </ion-card-content>
        </ion-col>  
        <ion-col>
            <ion-card-content routerLink="./lasana">
              <img src="assets/comidas/lasana.jpg">
              <p>
                Lasaña de calabacín 
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="./revueltorepollo">
              <img src="assets/comidas/Revueltorepollo.jpg">
              <p>
                Revuelto de repollo de la India
              </p>
            </ion-card-content>
        </ion-col>
        <ion-col>
            <ion-card-content routerLink="./cazuela">
              <img src="assets/comidas/Cazerola.jpg">
              <p>
                Cazuela de pollo con queso
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="./chuletas">
              <img src="assets/comidas/chuletas.jpg">
              <p>
                Chuletas de cerdo con judías verdes y mantequilla de ajo
              </p>
            </ion-card-content>
        </ion-col> 
        <ion-col>       
            <ion-card-content routerLink="./hamburguesa">
              <img src="assets/comidas/hamburguesa.jpg">
              <p>
                Hamburguesa clásica
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
