<ion-header>
  <ion-toolbar>
    <ion-title>Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Dimg">
    <ion-row >
      <ion-col>
            <ion-card-content>
              <img src="assets/./comidas/foto-del-paso-5-de-la-receta-enchiladas-suizas-tipo-keto.jpg">
                <p>Enchiladas suizas tipo Keto</p>
            </ion-card-content>
      </ion-col>
      <ion-col>
            <ion-card-content>
              <img src="assets/./comidas/pollo.jpg">
              <p>
                Pollo con verduras de 3 colores
              </p>> 
            </ion-card-content>
      </ion-col>     
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-card-content>
            <img src="assets/./comidas/Albondigas.jpg">
              <p>
                Albondigas italianas de pollo con salsa de crema
              </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
          <ion-card-content>
            <img src="assets/./comidas/pollofrito.jpg">
              <p>
                Pollo frito crocante Keto
              </p>
            </ion-card-content>
      </ion-col>          
    </ion-row>
  </div>
</ion-content>