<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Ensaladas keto de lechuga en gajos</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/ensaladalechuga.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	80 ml mayonesa</li>
          <li>•	60 ml crema agria</li>
          <li>•	2 cda. crema (o nata) para montar</li>
          <li>•	1 cda. jugo de limón</li>
          <li>•	¼ cdta. ajo en polvo</li>
          <li>•	¼ cdta. sal</li>
          <li>•	55 g queso azul, desmenuzado</li>
          <li>•	½ lechuga iceberg</li>
          <li>•	230 g panceta ahumada (bacon), picada</li>
          <li>•	1 (110 g) tomate picado(s)</li>
          <li>•	55 g queso azul desmenuzado</li>
          <li>•	4 huevos grandes hervidos, picado(s)</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 1.	Mezclar los ingredientes para el aderezo excepto el queso. Una vez estén bien mezclados, añadir el queso azul en trozos y remover bien. Diluir con un poco de agua si lo prefieres. Enfriar hasta que se pueda servir.</li>
          <li> 2.	Freír el bacon hasta que esté crujiente en una sartén grande a fuego medio-alto.</li>
          <li> 3.	Lavar la cabeza entera de la lechuga iceberg en agua fría y dejarla escurrir. Secar el exterior dándole golpecitos con un paño seco.</li>
          <li> 4.	Usar un cuchillo para cortar la lechuga por la mitad. Para preparar 4 porciones, cortar una mitad de la lechuga en 4 trozos para conseguir 4 gajos. Dejar la otra mitad de la lechuga intacta para que permanezca fresca. En caso de hacer más o menos porciones, cortar los gajos de forma acorde.</li>
          <li> 5.	Colocar cada gajo en un plato. Poner por encima partes iguales de bacon, tomate picado, trozos de queso azul y huevo. Verter el aderezo por encima, asegurándote de que cubra todo el gajo. Servir al momento.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

