<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>chips</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/chips.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>	110 g salami, unas 5 lonchas por porción</li>
          <li>	240 ml queso parmesano rallado</li>
          <li>	1 cdta. pimentón español</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 	Precalentar el horno a 225 °C (450 °F) o activar la función de grill del horno (a alta temperatura).</li>
          <li> 	Colocar las rodajas de salami sobre una bandeja de horno forrada con papel para horno. Dejar un poco de espacio entre las lonchas.</li>
          <li> 	Colocar un montoncito de queso rallado encima de cada loncha, alrededor de 1-2 cucharadas. Espolvorear el pimentón en polvo o las hierbas secas para darle más sabor.</li>
          <li> 	Colocar en el horno; hornear hasta que el queso esté burbujeante y dorado. Echarle un vistazo con frecuencia para que no se queme.</li>
          <li> 	Retirar del horno y dejar enfriar. Una vez frías, las chips estarán crocantes y listas para comer.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
