<ion-header>
  <ion-toolbar>
    <ion-title>Cena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Dimg">
    <ion-row >
      <ion-col>
            <ion-card-content>
              <img src="assets/./cenas/huevos.jpg">
                <p>Huevos al horno con aguacate y queso de cabra</p>
            </ion-card-content>
      </ion-col>
      <ion-col>
            <ion-card-content>
              <img src="assets/./cenas/Ensalada.jpg">
              <p>
                Sarten de ensalada griega
              </p>> 
            </ion-card-content>
      </ion-col>     
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-card-content>
            <img src="assets/./cenas/tortilla.jpg">
              <p>
                Tortilla esponjosa y champiñones
              </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
          <ion-card-content>
            <img src="assets/./cenas/pizza.jpg">
              <p>
                Pizza keto con base de pollo
              </p>
            </ion-card-content>
      </ion-col>          
    </ion-row>
  </div>
</ion-content>