<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Comida</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div class="Dimg">
      <ion-row >
        <ion-col >
          <ion-card-content routerLink="./cham">
                <img src="assets/cenas/Champiñones.jpg">
                <p>
                  Champiñones rellenos cetogénicos.
                </p>
          </ion-card-content>
        </ion-col>
        <ion-col>
  
            <ion-card-content routerLink="./col">
              <img src="assets/cenas/Colchinasal.jpg">
              <p>
                Col china salteada con albóndigas de pollo.
              </p>
            </ion-card-content>
  
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="./ensaatun">
              <img src="assets/cenas/Ensaladaatun.jpg">
              <p>
                Ensalada de atún a la parrilla con aderezo de ajo.
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="./ensaladak">
              <img src="assets/cenas/ensaladalechuga.jpg">
              <p>
                Ensalada keto de lechuga en gajos.
              </p>
            </ion-card-content>
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-content routerLink="./ham">
              <img src="assets/cenas/hamburguesa.jpg">
              <p>
                Hamburguesa alta en proteína
              </p>
            </ion-card-content>

        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="./huevos-c">
              <img src="assets/cenas/Huevosalhorno.jpg">
              <p>
                Huevos al horno bajos en carbohidratos
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="./huevos-v">
              <img src="assets/cenas/Huevorev.jpg">
              <p>
                Huevos revueltos con verduras
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="./pastelc">
              <img src="assets/cenas/Pastelcarne.jpg">
              <p>
                Pastel de carne a la italiana con tomates asados y mayonesa de pesto
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
      <ion-row>
        <ion-col>
  
            <ion-card-content routerLink="./sopacar">
              <img src="assets/cenas/sopacarne.jpg">
              <p>
                Sopa low-carb de carne y queso
              </p>
            </ion-card-content>
  
        </ion-col>
  
        <ion-col>
          
            <ion-card-content routerLink="./pizza">
              <img src="assets/cenas/pizza.jpg">
              <p>
                Pizza “fat head” cetogénica
              </p>
            </ion-card-content>
         
        </ion-col>          
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

