<ion-app>
  <ion-menu side="start" menuId="principal" contentId="main" >
    <ion-header>
      <ion-toolbar color="#86bb8b">
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="menu" >
          <ion-icon name="home"></ion-icon>INICIO
        </ion-item>
        <ion-item routerLink="menu-d">
          <ion-icon name="nutrition"></ion-icon >DESAYUNO
        </ion-item>
        <ion-item routerLink="comida">
          <ion-icon name="fish"></ion-icon>COMIDA
        </ion-item>
        <ion-item routerLink="cena">
          <ion-icon name="pizza"></ion-icon>CENA
        </ion-item>
        <ion-item routerLink="menu-s">
          <ion-icon name="sparkles"></ion-icon>SNACK
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
