<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
      </ion-buttons><ion-title>Pollo frito con mantequilla</ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/Pollofrito.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 140 g mantequilla</li>
          <li> 650 g contramuslos de pollo deshuesados</li>
          <li> Sal y pimienta negra molida</li>
          <li> 450 g de brócoli</li>
          <li> ½ (45 g) puerro</li>
          <li> 1 cdta. ajo en polvo</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Freír el pollo en mantequilla a fuego medio por unos 3-4 minutos por cada lado, dependiendo del grosor de los cortes. Salpimentar generosamente.</li>
          <li> Asegurarse de que el pollo esté completamente cocido. Bajar el fuego y cocinar un minuto más en caso de duda.</li>
          <li> Sacar el pollo de la sartén y cubrirlo con papel de aluminio o meterlo a fuego bajo en el horno para mantenerlo caliente.</li>
          <li> Lavar y cortar el brócoli en trozos, incluyendo el tallo. Cortar el puerro en rodajas gruesas.</li>
          <li> Freír las verduras a fuego medio en la misma sartén que se usó para el pollo. Añadir más mantequilla y el ajo en polvo y mezclar. Salpimentar.</li>
          <li> Servir el pollo y las verduras con una buena dosis de mantequilla por encima.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
