<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Pastel de carne a la italiana con tomates asados y mayonesa de pesto </ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/Pastelcarne.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>	650 g carne molida (carne picada) o carne de pavo molida</li>
          <li>	1 huevo grande</li>
          <li>	1½ cdta. sal</li>
          <li>	1½ cda. mix de especias italianas sin sal</li>
          <li>	4 (450 g) tomates pequeños (120 g/ 4 oz cada uno), cortado(s) por la mitad</li>
          <li>	1 cda. aceite de oliva</li>
          <li>	180 ml mayonesa</li>
          <li>	1½ cda. pesto verde</li>
          <li>	55 g (230 ml) verduras de hoja verde</li>
          <li>	1 cda. aceite de oliva</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 	Precalentar el horno a 177 °C (350 °F). Cubrir una bandeja para horno con papel de hornear.</li>
          <li> 	En un tazón grande, mezclar la carne de res molida, los huevos y los condimentos.</li>
          <li> 	Formar el pastel de carne de alrededor de 23 × 12 cm (9 × 5") con la mezcla de carne y colocarlo en el medio del papel de hornear. Rociarlo con el aceite de oliva y espolvorear un poco del condimento italiano. Hornear durante 20 minutos.</li>
          <li> 	Salpimentar los tomates y colocarlos alrededor del pastel de carne con el lado del corte hacia arriba. Hornear durante 15-20 minutos más, o hasta que el pastel de carne alcance una temperatura interna de 72 °C (160 °F).</li>
          <li> 	Enfriar durante unos 10 minutos antes de cortar las rebanadas. Servir el pastel de carne con una cucharada de mayonesa de pesto, las verduras de hoja verde aliñadas con aceite de oliva y un par de mitades de tomates asados.</li>
          <li> 	Combinar la mayonesa y el pesto en un tazón pequeño. Probar y salpimentar al gusto si fuera necesario.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
