<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>Pastel de tres leches</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/pasteltresleches.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	3 huevos medianos</li>
          <li>•	100 g (210 ml) harina de almendra</li>
          <li>•	1 cda. harina de coco</li>
          <li>•	2 cda. crema (o nata) para montar</li>
          <li>•	1 cdta. polvo para hornear</li>
          <li>•	½ cdta. cremor tártaro</li>
          <li>•	100 g (130 ml) eritritol granulado</li>
          <li>•	Mantequilla sin sal para engrasar el molde</li>
          <li>•	120 ml crema (o nata) para montar</li>
          <li>•	120 ml leche de almendras sin azúcar</li>
          <li>•	2½ cda. eritritol granulado</li>
          <li>•	1 cda. extracto de vainilla</li>
          <li>•	1 pizca sal</li>
          <li>•	¼ cdta. goma xantana</li>
          <li>•	120 ml crema (o nata) para montar</li>
          <li>•	1 cdta. queso crema a temperatura ambiente</li>
          <li>•	2 cdta. eritritol</li>
          <li>•	1 cdta. canela molida</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. En un tazón para mezclar, combinar los huevos, la harina de almendra, la harina de coco, la crema espesa, el polvo de hornear, el cremor tártaro y el eritritol. Batir hasta que esté bien mezclado.</li>
          <li>2. Engrasar un pirex de 16 x 21 cm [6" x 9"] o un recipiente cerámico apto para microondas con una profundidad de al menos 6,5 cm [2,5"].</li>
          <li>3. Verter la masa en el molde alisándola para crear una capa uniforme.</li>
          <li>4. Cocer en el microondas durante 3 minutos y medio a potencia media-alta (alrededor de 600 vatios). Retirar del microondas. Verificar si está cocido en el centro y cocer en el microondas por 20 segundos más si es necesario. Dejar enfriar a temperatura ambiente; no retirar el pastel del molde.</li>
          <li>5. Mientras se cocina el pastel en el microondas, combinar los ingredientes de la salsa y revolver hasta que se disuelva el eritritol. Reservar.</li>
          <li>6. Combinar los ingredientes para la crema y batir en la batidora con el accesorio de alambre hasta que forme picos (aproximadamente 2 minutos), teniendo cuidado de no batir más de lo necesario o se convertirá en mantequilla</li>
          <li>7. Una vez que el pastel se haya enfriado a temperatura ambiente, pinchar una docena de veces con un tenedor, distribuyendo los agujeros de manera uniforme. Verter la salsa sobre el pastel, y esperar hasta que se haya empapado. Enfriar durante al menos dos horas o toda la noche para que la tarta pueda absorber la salsa.</li>
          <li>8. Cubrir el pastel con la crema batida y enfriar por lo menos dos horas antes de servir. Espolvorear con canela en polvo antes de servir.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
