<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
      </ion-buttons><ion-title>Sopa de mariscos</ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/Sopamar.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 4 cda. mantequilla</li>
          <li> 2 dientes de ajo picados</li>
          <li> 140 g (325 ml) ramas de apio en rodajas</li>
          <li> 240 ml jugo de almejas</li>
          <li> 350 ml crema (o nata) para montar</li>
          <li> 2 cdta. salvia seca o tomillo seco</li>
          <li> ½ limón, el jugo y la cáscara</li>
          <li> 110 g queso crema</li>
          <li> 450 g salmón o trucha u otro pescado firme, sin espinas, en filetes de 2,5 cm</li>
          <li> 55 g (425 ml) brotes de espinacas</li>
          <li> 230 g gambas peladas</li>
          <li> Sal o pimienta negra molida</li>
          <li> ½ cda. ajíes rojos</li>
          <li> Salvia fresca, opcional como decoración</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Derretir la mantequilla en una cacerola grande a fuego medio.</li>
          <li> Añadir el ajo y el apio. Cocinar durante 5 minutos, removiendo de vez en cuando. Añadir el jugo de almejas, la crema, el queso crema, la salvia, el zumo de limón y la ralladura de limón. Dejar hervir a fuego lento durante unos 10 minutos sin tapa.</li>
          <li> Añadir el pescado y los camarones. Hervir a fuego lento durante 3 minutos o hasta que el pescado esté hecho (se debería poder desmenuzar fácilmente). Incorporar las espinacas y freír hasta que estén tiernas.</li>
          <li> Salpimentar al gusto.</li>
          <li> Decorar con ajís rojos frescos y salvia fresca antes de servir para conseguir más sabor y un toque de color.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
