ion-content{
    --background:rgb(249, 250, 232, 1);
}

.Dimg{

    p{
        font-family: Esteban;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 75.7%;
        text-align: center;
        color: #000000; 
    }

    img{

        height: 100px;
        width: 100px;
       
    }

    ion-card-content{
        min-height: 195px;
        max-height: 195px;
        min-width: 140px;
        max-width: 140px;
        background-color: rgb(241,248,226);
        margin-block: 1px;
        margin-left: 15px;
        margin-right: 15px;
        border-style: dashed;
        border-color: green;
    }





}