<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Col china salteada con albóndigas de pollo</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/Colchinasal.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 400 g carne molida de pollo</li>
          <li> 2 cdta. ras-el-hanout o mix de especias garam masala</li>
          <li> ½ cdta. sal</li>
          <li> ¼ cdta. pimienta negra molida</li>
          <li> 85 g mantequilla</li>
          <li> 400 g col china o repollo blanco</li>
          <li> 80 ml agua</li>
          <li> Sal o pimienta negra molida</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> En un bol, combinar el pollo molido con el ras-el-hanout, la sal y la pimienta negra. Darle forma de albóndigas con las manos mojadas y aplanarlas ligeramente para que sean más fáciles de cocinar.</li>
          <li> En una sartén grande, cocinar las albóndigas en la mitad de la mantequilla a fuego medio-alto. Cubrir para reducir el tiempo de cocción. Las albóndigas estarán listas cuando tengan un color dorado y ya no estén rosadas por dentro.</li>
          <li> Cortar la col china a lo largo en cuatro trozos. Asegúrate de cortar a través del tallo para que las hojas permanezcan juntas.</li>
          <li> En otra sartén, derretir aproximadamente la mitad de la mantequilla restante a fuego medio-alto. Introducir los trozos de col china en la sartén, con una de las partes planas hacia abajo.</li>
          <li> Verter el agua en la sartén, salpimentar y tapar. Dejar que la col se cocine durante unos 7 minutos. Comprobar regularmente y voltear los trozos de col para que se doren también por el otro lado.</li>
          <li> Disponer la col china y las albóndigas en platos individuales. Verter el líquido de cocción de la col en la sartén en la que se han frito las albóndigas.</li>
          <li> Volver a poner la sartén al fuego y añadir la mantequilla restante. Dejar que la mantequilla se derrita, removiendo para que se integre bien.</li>
          <li> Verter la salsa sobre la col china y las albóndigas.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
