<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Pizza "fat head"</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/pizza.jpg">
        <h1>
          Ingredientes
        </h1>
        <p>La base</p>
        <ul>
          <li> 360 ml (170 g) queso mozzarella rallado</li>
          <li> 175 ml (85 g) harina de almendra</li>
          <li> 2 cda. queso crema</li>
          <li> 1 cdta. vinagre de vino blanco</li>
          <li> 1 huevo</li>
          <li> ½ cdta. sal</li>
          <li> aceite de oliva para engrasar las manos</li>
        </ul>
        <p>Ingredientes sobre la base</p>  
        <ul>
          <li> 225 g salchichas italianas</li>
          <li> 1 cda. mantequilla</li>
          <li> 120 ml salsa de tomate sin azúcar</li>
          <li> ½ cdta. orégano seco</li>
          <li> 360 ml (170 g) queso mozzarella</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Precalentar el horno a 200°C (400°F).</li>
          <li> Calentar la mozzarella y el queso crema en una pequeña olla antiadherente a fuego medio o en un recipiente en el microondas.</li>
          <li> Mezclar hasta que la mozzarella y el queso crema se derritan y se incorporen. Añadir los otros ingredientes y mezclar bien.</li>
          <li> Humedecer las manos con aceite de oliva y aplanar la masa sobre papel de horneo para formar un círculo de unos 20 cm (8 pulgadas) en diámetro. También puedes usar un rodillo para allanar la masa entre dos hojas de papel de horneo.</li>
          <li> Retirar la hoja superior de papel de horneo (si es que la usaste). Pinchar la masa con un tenedor (por toda la superficie) y hornear durante 10-12 minutos hasta que esté dorada. Sacar del horno.</li>
          <li> Mientras la masa se está horneando, saltear la carne molida de salchicha en aceite de oliva o mantequilla.</li>
          <li> Untar una capa delgada de salsa de tomate sobre la masa. Coronar con la carne de cerdo y abundante queso. Hornear durante 10-15 más o hasta que el queso se haya derretido.</li>
          <li> Espolvorear orégano encima y servir con una ensalada verde.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
