<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
      </ion-buttons><ion-title>Hamburguesa clásica </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/hamburguesa.jpg">
        <h1>
          Ingredientes
        </h1>
        <p>
          Pan para hamburguesas
        </p>
        <ul>
          <li> 300 ml (140 g) harina de almendra</li>
          <li> 5 cda. cáscaras de psilio en polvo</li>
          <li> 2 cdta. polvo para hornear</li>
          <li> 1 cdta. sal marina</li>
          <li> 2 cdta. vinagre de vino blanco o vinagre de manzana</li>
          <li> 1 cda. orégano seco</li>
          <li> 240 ml agua hirviendo</li>
          <li> 3 claras de huevo</li>
          <li> 1 cdta. semillas de sésamo</li>
        </ul>
        <p>
          Hamburguesas
        </p>
        <ul>
          <li> 800 g carne molida (carne picada)</li>
          <li> 28 g mantequilla o aceite de oliva para freír</li>
          <li> Sal y pimienta</li>
          <li> 55 g lechuga en tiras</li>
          <li> 1 (110 g) tomate cortado fino</li>
          <li> 1 (110 g) cebolla morada cortada finamente</li>
          <li> 120 ml mayonesa</li>
          <li> 140 g panceta ahumada (bacon)</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <p>Pan</p>
        <ol>
          <li> Precalentar el horno a 175 °C (350 °F).</li>
          <li> Empezar haciendo el pan de hamburguesa. Mezclar los ingredientes secos en un tazón.</li>
          <li> Agregar el agua hervida, el vinagre y las claras de huevo al tazón mientras bates con una batidora manual durante unos 30 segundos. No mezclar demasiado la masa; la consistencia debe parecerse a la plastilina.</li>
          <li> Con las manos húmedas, armar trozos individuales de pan con la masa, uno para cada porción. Espolvorear semillas de sésamo por encima. Asegúrate de dejar suficiente espacio en la asadera para que se duplique el tamaño de los panes.</li>
          <li> Hornear en la rejilla inferior del horno durante 50-60 minutos. Estarán hechos cuando escuches un sonido hueco al dar un toque en la base del pan.</li>
        </ol>
        <p>Hamburguesas</p>
        <ol>  
          <li> Preparar los condimentos mientras el pan se está horneando. Cortar la lechuga, el tomate y la cebolla finamente y freír la panceta.</li>
          <li> Armar hamburguesas individuales con la carne molida y parrillar o freír. Salpimentar cuando las hamburguesas estén casi listas.</li>
          <li> Dividir los panes en mitades y extender una generosa cantidad de mayonesa en ambas mitades.</li>
          <li> Armar tu hamburguesa a tu gusto.</li>
          <li> Acompañarlas con una guarnición de ensalada de repollo para que haya más crocante</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

