<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>Chuletas keto de cerdo con judias verdes y mantequilla de ajo</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/chuletas.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>  •	140 g mantequilla a temperatura ambiente</li>
          <li>  •	½ cda. ajo en polvo</li>
          <li> 	•	1 cda. perejil seco</li>
          <li> 	•	1 cda. jugo de limón</li>
          <li> 	•	sal y pimienta negra molida</li>
          <li>  •	4 chuletas de cerdo</li>
          <li> 	•	55 g mantequilla, para freír</li>
          <li> 	•	450 g judías verdes frescas (ejotes)</li>
          <li> 	2 cdta. mix de especias italianas en dos partes</li>
          <li> 	•	sal y pimienta negra molida</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 1.	Sacar la mantequilla del refrigerador y dejar que alance una temperatura ambiente.</li>
          <li> 2.	Mezclar la mantequilla, el ajo, el perejil y el zumo de limón. Salpimentar a gusto. Reservar.</li>
          <li> 3.	Hacer unos cortes pequeños en la grasa alrededor de las chuletas para que se mantengan planas cuando las frías. Salpimentar al gusto.</li>
          <li> 4.	Calentar una sartén a fuego medio-alto. Añadir la mantequilla, después las chuletas.</li>
          <li> 5.	Freír las chuletas por alrededor de 5 minutos en cada lado hasta que estén doradas y cocinadas completamente.</li>
          <li> 6.	Sacar las chuletas de la sartén y mantenerlas caliente.</li>
          <li> 7.	Usar la misma sartén y añadir las judías. Salpimentar al gusto. Cocinar a fuego medio-alto un par de minutos hasta que las judías adquieran un color vivo y estén un poco suaves, pero aún crocantes.</li>
          <li> 8.	Servir las chuletas y las judías con una buena porción de mantequilla derretida encima.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>