<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Chuletas de cerdo con judias verdes</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/chuletas.jpg">
        <h1>
          Ingredientes
        </h1>
        <p>Mantequilla de ajo</p>
        <ul>
          <li> 140 g mantequilla a temperatura ambiente</li>
          <li> ½ cda. ajo en polvo</li>
          <li> 1 cda. perejil seco</li>
          <li> 1 cda. jugo de limón</li>
          <li> Sal y pimienta negra molida</li>
        </ul>
        <p>Chuletas de cerdo</p>
        <ul>
          <li> 4 chuletas de cerdo</li>
          <li> 55 g mantequilla, para freír</li>
          <li> 450 g judías verdes frescas (ejotes)</li>
          <li> 2 cdta. mix de especias italianas en dos partes</li>
          <li> Sal y pimienta negra molida</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Sacar la mantequilla del refrigerador y dejar que alance una temperatura ambiente.</li>
          <li> Mezclar la mantequilla, el ajo, el perejil y el zumo de limón. Salpimentar a gusto. Reservar.</li>
          <li> Hacer unos cortes pequeños en la grasa alrededor de las chuletas para que se mantengan planas cuando las frías. Salpimentar al gusto.</li>
          <li> Calentar una sartén a fuego medio-alto. Añadir la mantequilla, después las chuletas.</li>
          <li> Freír las chuletas por alrededor de 5 minutos en cada lado hasta que estén doradas y cocinadas completamente.</li>
          <li> Sacar las chuletas de la sartén y mantenerlas caliente.</li>
          <li> Usar la misma sartén y añadir las judías. Salpimentar al gusto. Cocinar a fuego medio-alto un par de minutos hasta que las judías adquieran un color vivo y estén un poco suaves, pero aún crocantes.</li>
          <li> Servir las chuletas y las judías con una buena porción de mantequilla derretida encima.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



