<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
      </ion-buttons><ion-title>Escalopines de cerdo</ion-title>
      </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/comidas/Escalopines.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li> 	650 g chuletas de cerdo deshuesadas y de corte fino</li>
          <li> 	Sal marina y pimienta negra molida</li>
          <li> 	1 cda. aceite de oliva</li>
          <li> 	3 cda. mantequilla</li>
          <li> 	2 cda. alcaparras</li>
          <li> 	240 ml caldo de pollo</li>
          <li> 	2 cda. jugo de limón</li>
          <li> 	20 (350 g) tomatitos cherry</li>
          <li> 	2 cda. perejil fresco picado</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li> 	Salpimentar generosamente las chuletas de cerdo por ambos lados.</li>
          <li> 	Calentar el aceite de oliva en una sartén grande a fuego medio-alto. Añadir el cerdo a la sartén y cocinar hasta que esté dorado por ambos lados y bien hecho, unos 2 minutos por lado. Retirarlo de la sartén y taparlo para mantenerlo caliente.</li>
          <li> 	Reducir el fuego a nivel medio y agregar la mantequilla y las alcaparras a la misma sartén. Cocinar hasta que las alcaparras estén calientes y chisporroteando.</li>
          <li> 	Añadir el caldo de pollo y el zumo de limón a la sartén y con una espátula de goma raspar y mezclar los trozos que estén pegados en el fondo de la sartén.</li>
          <li> Subir el fuego a medio-alto y dejar hervir hasta que la salsa se haya reducido más o menos a la mitad.</li>
          <li> 	Reducir el fuego a nivel medio y añadir los tomates a la sartén. Cocinar hasta que estén tiernos y formen algunas burbujas, unos 3 minutos.</li>
          <li> Servir el cerdo y añadir la salsa por encima. Decorar con perejil fresco.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

