<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
        <ion-title>Huevos revueltos con verduras</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/cenas/Huevorev.jpg">
        <h1>
          Ingredientes
        </h1>
        <ul>
          <li> 1 cda. mantequilla</li>
          <li> 28 g champiñones en rodajas</li>
          <li> 3 huevos</li>
          <li> 28 g pimientos rojos en trocitos</li>
          <li> Sal y pimienta negra molida</li>
          <li> 28 g queso parmesano rallado</li>
          <li> ½ (7,5 g) cebolleta picada</li>
        </ul>
        <h1>
          Procedimiento
        </h1>
        <ol>
          <li> Calentar la mantequilla en una sartén grande a fuego medio. Añadir los champiñones en rodajas, los pimientos troceados, sazonar y freír hasta que estén suaves.</li>
          <li> Añadir los huevos a la sartén y revolver directamente para que todo se una.</li>
          <li> Mover la espátula en el fondo y en un extremo de la sartén para que se cuajen trozos grandes. Cocinar hasta que no haya restos líquidos de los huevos, pero que no estén secos.</li>
          <li> Servir los huevos revueltos en un plato y espolvorear con queso parmesano rallado y cebolleta.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

