
<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button><ion-title>sandwich de lechuga</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Desayunos/Wrapslechuga.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	170 g panceta ahumada (bacon) en lonchas</li>
          <li>•	3 cda. mayonesa</li>
          <li>•	55 g lechuga (2 hojas por porción)</li>
          <li>•	½ (100 g) aguacate</li>
          <li>•	1 (110 g) tomate en rodajas</li>
          <li>•	sal y pimienta</li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. En una sartén grande a fuego medio freír el tocino hasta que esté crocante, suele tomar unos 5 minutos. Reservar sobre un plato forrado con papel de cocina para que se enfríe. Cuando se enfríe lo suficiente para manejarlo, cortar cada tira por la mitad transversalmente.</li>
          <li>2. Poner un hilito de mayonesa en cada una de las hojas de lechuga. Coronar cada hoja con un tomate cortado por la mitas, 3 lonchas de tocino y una rodaja de aguacate. Salpimentar al gusto y servir.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
