<ion-header>
  <div>
    <ion-toolbar color="Danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button><ion-title>chipcalabaza</ion-title>
      </ion-buttons>
  </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div class="diseño">
    <ion-card>
      <ion-card-content>
        <img src="assets/Snacks/Chipcalabaza.jpg">
        <p>
          Ingredientes
        </p>
        <ul>
          <li>•	2 (400 g) calabacines</li>
          <li>•	2 cda. aceite de oliva</li>
          <li>•	sal marina </li>
        </ul>
        <p>
          Procedimiento
        </p>
        <ol>
          <li>1. Precalentar el horno a 120ºC (250ºF). Cortar el calabacín en rodajas finas con una mandolina, un procesador de alimentos o un cortador de queso. Coloca las rodajas sobre una tabla de cortar grande o sobre un paño de cocina.</li>
          <li>2. Salar con cuidado y dejar reposar durante 10 minutos. Eliminar el exceso de líquido con papel absorbente o con un trapo de cocina limpio.</li>
          <li>3. Rocíar aceite sobre el calabacín. Colocar las rodajas en dos bandejas de hornear forradas con papel de horno.</li>
          <li>4. Introducir las bandejas de hornear en el horno y dejarlas aproximadamente 1 hora o hasta que las rodajas de calabacín se hayan vuelto de un bonito color dorado. Si no parecen crujientes, bajar la temperatura y comprobar después de una hora. Si no parecen crujientes, bajar la temperatura del horno a 75ºC (150ºF) o menos y continuar horneándolas hasta que se vean secas.</li>
          <li>5. Prestar atención para que no se quemen. El calabacín quemado tiene un sabor amargo. Cambiar las posiciones de las bandejas de hornear en el horno para asegurarse de que las rodajas de calabacín se cocinen uniformemente.</li>
          <li>6. Retirar las "papas" del horno cuando estén bien crujientes y dejarlas enfriar sobre un estante (sin el papel de hornear). Disfrutarlas tal como están, o servirlas con una salsa.</li>
        </ol>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
